*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #f3f3f3;
    font-family: roboto, sans-serif;
}
header{
    background-color: white;
    width: 100%;
    height: 100px;
}


header .header-logo{
    font-family: poppins sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}
header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
header nav ul li{
   display: inline-block; 
   list-style: none;
   float: left;
   padding: 0 16px;
}
header nav ul a{
    font-family: poppins sans-serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;

}

header .header-cases{
    display: none;
}

@media only screen and (min-width: 1000px)  {
    header .header-logo{
        
        text-align: left;
        margin: 31px 0;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul{
       
        margin: 20px 0 0 20px ;
        float: left;
        
    }
   
    header nav ul a{
        
        line-height: 60px;
    
    }

    header .header-cases{
        display: block;
        font-family: poppins sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        padding: 0 20px;
        margin-right: 40px;
        margin-top: 30px;
    }

    
}

.index-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../assets/IMG_0077.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: roboto sans-serif;
    display: table;
    padding: 20px 0;
}

.vertical-center{
   display: table-cell;
   vertical-align: middle; 
}

.index-banner h2{
    font-family: Catamaran, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 8px #111;
    font-weight: 900;
    color: #fff;
    line-height: 70px;
    text-align: center;
}

.index-banner h1{
  font-family: Cormorant Garamond;
  font-size: 26px;
  text-shadow: 2px 2px 8px #111;
  font-weight: 100;
  text-align: center;
  font-style: italic;
  line-height: 40px; 
  color: #fff;
}

.index-links div{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #c4c4c4;
}

.index-links div h3{
    font-family: Catamaran, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 100px;
    text-align: center;
    color: #111;
}


@media only screen and (min-width: 1000px)  {

    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner{
        
        height: 450px;
       
    }

    .index-banner h1{
       display: block;
       width: 580px;
       margin: 0 auto;
      }
      .index-links{
        overflow: hidden;
      }


      .index-links div{
        margin: 20px 10px 0;
        float: left;
        height: 230px;
        background-color: #c4c4c4;
      }

      .boxlink-square{
        width: calc(25% - 20px) !important;

      }

      .boxlink-rectangle{
        width: calc(50% - 20px) !important;

      }

      .index-links div h3{
       
        line-height: 230px;
        
    }
    

    
}



footer{
    width:calc(100% );
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
    
    
}
footer ul{
    width: fit-content;
    float: left;
    padding-left: 20px;

}

footer ul li {
    list-style: none;
    display: block;
    
    
}
footer ul li a{
    font-family: Catamaran sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}
.footer-links-cases{
    display: none;
}


.footer-sm{
    width: 40px;
    float: right;
}

.footer-sm img{
    width:100%;
    height: 50px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px)  {

    .footer-links-cases{
    display: block;
 }

 footer ul{
    width: fit-content;
    float: left;
    padding-left: 20px;
    padding-right: 40px;

}

 footer ul li p {
    font-family: Catamaran sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
 }




    
}

